<fieldset>
  <legend> Permission</legend>
  <dx-data-grid *ngIf="false" #grid class="dataGrid" height="400" [(dataSource)]="todosList" [showRowLines]="true"
    [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    [allowColumnResizing]="true" (onCellClick)="editRecord($event)" [columnAutoWidth]="true">
    <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
    <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
    <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Leads" [allowExportSelectedData]="false"></dxo-export>
    <dxo-filter-row [visible]="RowFilter"></dxo-filter-row>
    <dxo-column-chooser [enabled]="false" [allowSearch]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="GroupFilter"></dxo-group-panel>
    <!--fixed Column-->
    <dxi-column cssClass="grid-cell" dataType="string" dataField="todo_desc" caption="Describtion"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="todo_status" caption="Status" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="Date" [customizeText]="getDateFormated" dataField="todo_date"
      caption="due date" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="Date" [customizeText]="getDateFormated" dataField="start_date"
      caption="Start date" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" dataType="Date" [customizeText]="getDateFormated" dataField="end_date"
      caption="End date" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>

    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"
      caption="Created at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="updated_at"
      caption="Updated at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>

    <dxi-column cssClass="grid-cell" dataType="string" dataField="created_by" caption="Created by"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
      cellTemplate="created_byTemplate"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="assigned_to" caption="Assigned to"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
      cellTemplate="assigned_toTemplate"></dxi-column>

    <div *dxTemplate="let data of 'created_byTemplate'">
      {{data.data.created_by.first_name}} {{data.data.created_by.second_name}}
    </div>
    <div *dxTemplate="let data of 'assigned_toTemplate'">
      {{data.data.assigned_to.first_name}} {{data.data.assigned_to.second_name}}
    </div>
    <dxo-summary>
      <dxi-total-item column="first_name" summaryType="count">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</fieldset>