<fieldset>
  <legend>New Area:</legend>
  <form [formGroup]="areaFormGroup" (ngSubmit)="saveArea()">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Area name" (input)="singleArea.name=$event.target.value"
              formControlName="name" required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="project name" (input)="singleArea.address=$event.target.value"
              formControlName="address" required>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <button type="submit" mat-flat-button color="primary" class="mat-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>