<fieldset>
  <legend>All Activities</legend>
  <dx-data-grid #grid class="dataGrid" height="400" [(dataSource)]="activitiesList" [showRowLines]="true"
    [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    [allowColumnResizing]="true" (onCellClick)="editRecord($event)" [columnAutoWidth]="true">
    <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
    <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
    <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Leads" [allowExportSelectedData]="false"></dxo-export>
    <dxo-filter-row [visible]="RowFilter"></dxo-filter-row>
    <dxo-column-chooser [enabled]="false" [allowSearch]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-group-panel [visible]="GroupFilter"></dxo-group-panel>
    <!--fixed Column-->
    <dxi-column cssClass="grid-cell" dataType="string" [customizeText]="getDateFormated" dataField="activity_date"
      caption="Activity date" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="activity_status" caption="Status"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="activity_type" caption="Type" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="feedback" caption="Feedback" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>

    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"
      caption="Created at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="updated_at"
      caption="Updated at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>

    <dxi-column cssClass="grid-cell" dataType="string" dataField="client_data" caption="Client" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="client_dataTemplate"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="created_by" caption="Created by"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
      cellTemplate="created_byTemplate"></dxi-column>

    <div *dxTemplate="let data of 'client_dataTemplate'">
      {{data.data.client_data.first_name}} {{data.data.client_data.second_name}}
    </div>
    <div *dxTemplate="let data of 'created_byTemplate'">
      {{data.data.created_by.first_name}} {{data.data.created_by.second_name}}
    </div>

    <dxi-column cssClass="grid-cell" dataType="string" dataField="id" caption="Status" [allowFiltering]="true"
      [fixed]="true" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="changeStatusTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'changeStatusTemplate'">
      <button type="button" (click)="openChangeStatusModal(data.data)" mat-flat-button color="primary"
        class="mat-primary">Change status</button>
    </div>

    <dxo-summary>
      <dxi-total-item column="first_name" summaryType="count">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</fieldset>

<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="editActivityModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editActivityModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-activity #edit [updateMode]="true" (afterSave)="afterSave($event)"></app-new-activity>
        <!-- <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput autocomplete="off" placeholder="lead name" [(value)]="editActivity.first_name"
                  (input)="editActivity.first_name=$event.target.value" required>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput autocomplete="off" placeholder="lead name" [(value)]="editActivity.second_name"
                  (input)="editActivity.second_name=$event.target.value" required>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput autocomplete="off" placeholder="project name" [(value)]="editActivity.project_name"
                  (input)="editActivity.project_name=$event.target.value" required>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput autocomplete="off" #country_code maxlength="5" placeholder="country code"
                  [(value)]="editActivity.country_code" (input)="editActivity.country_code=$event.target.value" numbersOnly
                  required>
                <mat-hint align="end">{{country_code.value.length}} / 5</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput autocomplete="off" #lead_phone maxlength="10" placeholder="lead phone"
                  [(value)]="editActivity.lead_phone" (input)="editActivity.lead_phone=$event.target.value" numbersOnly
                  required>
                <mat-hint align="end">{{lead_phone.value.length}} / 10</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateActivity()">Save changes</button>
        </div>-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeStatusModalLabel">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-tabs [currentTabName]="mainTabsName">
          <li class="tabItem" [class.active]="mainTabsSwitch == 'primary'">
            <a (click)="changeMainTabs('primary')">Primary</a>
          </li>
          <li class="tabItem" [class.active]="mainTabsSwitch == 'resale'">
            <a (click)="changeMainTabs('resale')">Resale</a>
          </li>
        </app-tabs>
        <div class="_tabsHolder">
          <div *ngIf="mainTabsSwitch == 'primary'">
            <dx-validation-group #primarySaleStatusValidator>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Compound</label>
                    <dx-select-box [class.required]="true" [dataSource]="compoundsLookup"
                      [(value)]="primarySaleStatus_OBJ.compound_id" displayExpr="name" valueExpr="id"
                      [searchEnabled]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Compound is required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit price</label>
                    <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                      [(value)]="primarySaleStatus_OBJ.original_price" [showSpinButtons]="false"
                      [showClearButton]="false">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit price is required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-number-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit Type</label>
                    <dx-select-box [class.required]="true"
                      [dataSource]="[{name:'Apartment'},{name:'Standalone'},{name:'Townhouse'},{name:'Twin villa'}, {name:'Other'}]"
                      [(value)]="primarySaleStatus_OBJ.unit_type" displayExpr="name" valueExpr="name">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit Type is required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Building area</label>
                    <dx-text-box [class.required]="true" [(value)]="primarySaleStatus_OBJ.building_area">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Building area is required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Owner name</label>
                    <dx-text-box [class.required]="true" [(value)]="primarySaleStatus_OBJ.owner_name">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Owner name required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Owner phone</label>
                    <dx-number-box [class.required]="true" [(value)]="primarySaleStatus_OBJ.owner_phone"
                      [showSpinButtons]="false" [showClearButton]="false">
                      <dx-validator>
                        <dxi-validation-rule type="required" [min]="11" [max]="11"
                          message="Owner phone must be at least 11 characters">
                        </dxi-validation-rule>
                      </dx-validator>
                    </dx-number-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Commission</label>
                    <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                      [(value)]="primarySaleStatus_OBJ.commission" [showSpinButtons]="false" [showClearButton]="false">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Commission is required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-number-box>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <button type="button" (click)="submitPrimarySales()" mat-flat-button color="primary"
                      class="mat-primary">Submit</button>
                  </div>
                </div>
              </div>
            </dx-validation-group>
          </div>
          <div *ngIf="mainTabsSwitch == 'resale'">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <label>1- Type of sale</label>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <dx-validation-group #resaleTypeValidator>
                      <div class="form-group">
                        <dx-radio-group [items]="resaleTypeOption" (onValueChanged)="resaleTypeOptionChanged($event)"
                          [(value)]="resaleTypeOptionObj.type" layout="horizontal">
                          <dx-validator>
                            <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                          </dx-validator>
                        </dx-radio-group>
                      </div>
                    </dx-validation-group>
                    <!--data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" -->
                    <button type="button" (click)="goToStep(2)" mat-flat-button color="primary" class="mat-primary">
                      Next </button>
                    <!-- data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" -->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <label>3- Unit information</label>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[0]">
                      <dx-validation-group #externalSaleStatusValidator>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Compound</label>
                              <dx-select-box [class.required]="true" [dataSource]="compoundsLookup"
                                [(value)]="externalSaleStatus_OBJ.compound_id" displayExpr="name" valueExpr="id"
                                [searchEnabled]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Compound is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-select-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit price</label>
                              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                                [(value)]="externalSaleStatus_OBJ.original_price" [showSpinButtons]="false"
                                [showClearButton]="false">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit price is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-number-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit Type</label>
                              <dx-select-box [class.required]="true"
                                [dataSource]="[{name:'Apartment'},{name:'Standalone'},{name:'Townhouse'},{name:'Twin villa'}, {name:'Other'}]"
                                [(value)]="externalSaleStatus_OBJ.unit_type" displayExpr="name" valueExpr="name">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit Type is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-select-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Building area</label>
                              <dx-text-box [class.required]="true" [(value)]="externalSaleStatus_OBJ.building_area">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Building area is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Owner name</label>
                              <dx-text-box [class.required]="true" [(value)]="externalSaleStatus_OBJ.owner_name">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Owner name required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Owner phone</label>
                              <dx-number-box [class.required]="true" [(value)]="externalSaleStatus_OBJ.owner_phone"
                                [showSpinButtons]="false" [showClearButton]="false">
                                <dx-validator>
                                  <dxi-validation-rule type="required" [min]="11" [max]="11"
                                    message="Owner phone must be at least 11 characters">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-number-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Commission</label>
                              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                                [(value)]="externalSaleStatus_OBJ.commission" [showSpinButtons]="false"
                                [showClearButton]="false">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Commission is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-number-box>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <button type="button" (click)="submitExternalSales()" mat-flat-button color="primary"
                                class="mat-primary">Submit</button>
                            </div>
                          </div>
                        </div>
                      </dx-validation-group>
                    </div>
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[1]">
                      <dx-validation-group #internalSaleStatusValidator>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Unit</label>
                              <dx-select-box [dataSource]="unitsLookup" [(selectedItem)]="selectedUnit"
                                [(value)]="internalSaleStatus_OBJ.unit_id" showClearButton="false"
                                displayExpr="unit_code" valueExpr="id">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Compound is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                                <div *dxTemplate="let data of 'dropDownButton'">
                                  <div *ngIf="!selectedItem" class="dx-dropdowneditor-icon"></div>
                                </div>

                                <div *dxTemplate="let data of 'item'" class="custom-item">
                                  <div class='product-name'>{{data.unit_code}} - ({{data.offering_type}}) -
                                    {{data.compound.name}}</div>
                                </div>
                              </dx-select-box>
                            </div>
                          </div>
                          <div class="cl-sm-4">
                            <div class="form-group">
                              <label>Commission</label>
                              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                                [(value)]="internalSaleStatus_OBJ.commission" [showSpinButtons]="false"
                                [showClearButton]="false">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Commission is required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-number-box>
                            </div>
                          </div>
                        </div>
                      </dx-validation-group>
                      <!-- <app-units-list displayMode="select" (selectedRow)="selectingUnit($event)"></app-units-list> -->

                      <button type="button" (click)="submitinternalSales()" mat-flat-button color="primary"
                        class="mat-primary">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>