<app-tabs [currentTabName]="mainTabsName">
  <li class="tabItem" [class.active]="mainTabsSwitch == 'approval'">
    <a (click)="changeMainTabs('approval')">Approval</a>
  </li>
  <li class="tabItem" [class.active]="mainTabsSwitch == 'TCR'">
    <a (click)="changeMainTabs('TCR')">TCR</a>
  </li>
  <!-- <li class="tabItem" [class.active]="mainTabsSwitch == 'CILRequest'">
    <a (click)="changeMainTabs('CILRequest')">CIL Requests</a>
  </li>  -->
  <li class="tabItem" [class.active]="mainTabsSwitch == 'conflicts'">
    <a (click)="changeMainTabs('conflicts')">Conflicts</a>
  </li>
</app-tabs>
<div>
  <div *ngIf="mainTabsSwitch == 'approval'">
    <app-approval-list [filterRequestByStatus]="'new'"></app-approval-list>
  </div>
  <div *ngIf="mainTabsSwitch == 'TCR'">
    <app-approval-list [filterRequestByStatus]="'approveed'"></app-approval-list>
  </div>
  <div *ngIf="mainTabsSwitch == 'CILRequest'">CIL request here</div>
  <div *ngIf="mainTabsSwitch == 'conflicts'">
    <app-check-conflict></app-check-conflict>
  </div>
</div>