<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h2 class="page-title mat-h1">Admin</h2>
    </div><!--end page-title-box-->
  </div>
</div><!--end col-->


<app-tabs [currentTabName]="mainTabsName">
  <li class="tabItem" [class.active]="mainTabsSwitch == 'leads'">
    <a (click)="changeMainTabs('leads')">Import and assign</a>
  </li>
  <li class="tabItem" [class.active]="mainTabsSwitch == 'CompanyTarget'">
    <a (click)="changeMainTabs('CompanyTarget')">Company target</a>
  </li>
  <li class="tabItem" [class.active]="mainTabsSwitch == 'employee'">
    <a (click)="changeMainTabs('employee')">New employee</a>
  </li>
  <li class="tabItem" [class.active]="mainTabsSwitch == 'permission'">
    <a (click)="changeMainTabs('permission')">Permission</a>
  </li>
  <li class="tabItem" [class.active]="mainTabsSwitch == 'broker'">
    <a (click)="changeMainTabs('broker')">Brokers</a>
  </li>
</app-tabs>
<div class="tabsHolder">
  <div *ngIf="mainTabsSwitch == 'leads'">
    <app-tabs [currentTabName]="subTabsNameLead">
      <li class="tabItem" [class.active]="subTabsSwitchLead == 'leads'">
        <a (click)="changeSubTabsLead('leads')">Data & Leads</a>
      </li>
      <li class="tabItem" [class.active]="subTabsSwitchLead == 'Compound'">
        <a (click)="changeSubTabsLead('Compound')">Compound Data</a>
      </li>
      <li class="tabItem" [class.active]="subTabsSwitchLead == 'area'">
        <a (click)="changeSubTabsLead('area')">New area</a>
      </li>
      <li *ngIf="false" class="tabItem" [class.active]="subTabsSwitchLead == 'activities'">
        <a (click)="changeSubTabsLead('activities')">Activities</a>
      </li>
      <li class="tabItem" [class.active]="subTabsSwitchLead == 'todos'">
        <a (click)="changeSubTabsLead('todos')">To-dos</a>
      </li>
      <li class="tabItem" [class.active]="subTabsSwitchLead == 'levels'">
        <a (click)="changeSubTabsLead('levels')">levels</a>
      </li>
      </app-tabs>
      <div>
        <div *ngIf="subTabsSwitchLead == 'leads'">
          <app-new-leads (afterSave)="afterSaveLead($event)"></app-new-leads>
          <app-leads-list #LeadsListComponent></app-leads-list>
        </div>
        <div *ngIf="subTabsSwitchLead == 'Compound'">
          <app-new-compounds (afterSave)="afterSaveCompound($event)"></app-new-compounds>
          <app-compounds-list #compoundsListComponent></app-compounds-list>
        </div>
        <div *ngIf="subTabsSwitchLead == 'area'">
          <app-new-areas (afterSave)="afterSaveArea($event)"></app-new-areas>
          <app-areas-list #areasListComponent></app-areas-list>
        </div>
        <div *ngIf="subTabsSwitchLead == 'activities'">
          <app-new-activity></app-new-activity>
          <app-activities-list></app-activities-list>
        </div>
        <div *ngIf="subTabsSwitchLead == 'todos'">
          <app-new-todo></app-new-todo>
          <app-todos-list></app-todos-list>
        </div>
        <div *ngIf="subTabsSwitchLead == 'levels'">
          <app-new-level></app-new-level>
          <app-levels-list></app-levels-list>
        </div>
      </div>
  </div>
  <div *ngIf="mainTabsSwitch == 'CompanyTarget'">
    <app-edit-position (afterSave)="afterSavePosition()"></app-edit-position>
    <app-positions-list #PositionsListComponent></app-positions-list>
  </div>
  <div *ngIf="mainTabsSwitch == 'employee'">
    <app-new-employee></app-new-employee>
  </div>
  <div *ngIf="mainTabsSwitch == 'permission'">
    <app-permission-list></app-permission-list>
  </div>
  <div *ngIf="mainTabsSwitch == 'broker'">
    <app-new-broker (afterSave)="afterSaveBroker($event)"></app-new-broker>
    <app-brokers-list #BrokersListComponent></app-brokers-list>
  </div>
</div>
