<fieldset>
  <legend>New unit:</legend>

  <div class="todo" *ngIf="false">
    We need to choose the AREA first, then it shows the COMPOUNDS listed inside that area ONLY.
    <br>
    PLEASE follow the UI
    <a target="_blank" href="https://pensive-davinci-71a000.netlify.com/addunit">ADD unit PENSIVE link.</a>
  </div>
  <!-- <form [formGroup]="unitFormGroup" (ngSubmit)="saveUnit()"> -->
  <dx-validation-group #DataValidator>
    <!-- <mat-tab-group dynamicHeight>
      <mat-tab label="New Cairo">
      </mat-tab>
      <mat-tab label="Mostakbal City">
      </mat-tab>
      <mat-tab label="New Capital">
      </mat-tab>
      <mat-tab label="Sokhna">
      </mat-tab>
      <mat-tab label="North Coast">
      </mat-tab>
      <mat-tab label="6th October">
      </mat-tab>
    </mat-tab-group>
    <div class="typesOfProjects">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Mivida</mat-button-toggle>
        <mat-button-toggle value="italic">Villette</mat-button-toggle>
        <mat-button-toggle value="underline">Lake View</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Area</label>
          <div class="extraFeature"><a class="addNewRecord" (click)="openAddNewModel('area')"><i
                class="fas fa-plus"></i> Add new</a></div>
          <dx-select-box [class.required]="true" [dataSource]="areasLookup" (onValueChanged)="selectArea($event)"
            displayExpr="name" valueExpr="id" [searchEnabled]="true">
            <dx-validator>
              <dxi-validation-rule type="required" message="Compound is required"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Compound</label>
          <div class="extraFeature"><a class="addNewRecord" (click)="openAddNewModel('compound')"><i class="fas fa-plus"></i> Add new</a></div>
          <dx-select-box [class.required]="true" [dataSource]="compoundFilteredList" [(value)]="singleUnit.compound_id"
            displayExpr="name" valueExpr="id" [searchEnabled]="true">
            <dx-validator>
              <dxi-validation-rule type="required" message="Compound is required"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Unit type</label>
          <dx-select-box [class.required]="true"
            [dataSource]="[{name:'Apartment'},{name:'Standalone'}, {name:'Townhouse'}, {name:'Twin villa'}]"
            [(value)]="singleUnit.unit_type" displayExpr="name" valueExpr="name" [searchEnabled]="true">
            <dx-validator>
              <dxi-validation-rule type="required" message="Unit type is required"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
          <!-- <mat-form-field class="example-full-width">
            <mat-label>Unit type</mat-label>
            <mat-select formControlName="unit_type" autocomplete="off" [(value)]="singleUnit.unit_type" required>
              <mat-option value="Apartment">
                <mat-icon svgIcon="Apartment-icon"></mat-icon> Apartment
              </mat-option>
              <mat-option value="Standalone">
                <mat-icon svgIcon="Standalone-icon"></mat-icon> Standalone
              </mat-option>
              <mat-option value="Townhouse">
                <mat-icon svgIcon="Townhouse-icon"></mat-icon> Townhouse
              </mat-option>
              <mat-option value="Twin villa">
                <mat-icon svgIcon="TwinVilla-icon"></mat-icon> Twin villa
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </div>
    </div>

    <!-- <mat-button-toggle-group class="typesOfBuildings" (change)="setTypeBlock($event); unit_type.value = $event.value" name="typeBlock" aria-label="typeBlock">
      <mat-button-toggle class="typeBlock" value="Apartment">
        <mat-icon svgIcon="Apartment-icon"></mat-icon><span>Apartment</span>
      </mat-button-toggle>
      <mat-button-toggle class="typeBlock" value="Standalone">
        <mat-icon svgIcon="Standalone-icon"></mat-icon><span>Standalone</span>
      </mat-button-toggle>
      <mat-button-toggle class="typeBlock" value="Townhouse">
        <mat-icon svgIcon="Townhouse-icon"></mat-icon><span>Townhouse</span>
      </mat-button-toggle>
      <mat-button-toggle class="typeBlock" value="Twin villa">
        <mat-icon svgIcon="TwinVilla-icon"></mat-icon><span>Twin villa</span>
      </mat-button-toggle>
    </mat-button-toggle-group> -->
    <div class="row">
      <div class="col-sm-4">
        <h2 class="sectionTitle">Unit Informtion</h2>
        <div class="form-group">
          <label>Offering type</label>
          <dx-select-box [class.required]="true" [dataSource]="[{name:'Buy'},{name:'Sale'}, {name:'Rent'}]"
            [(value)]="singleUnit.offering_type" displayExpr="name" valueExpr="name" [searchEnabled]="true">
            <dx-validator>
              <dxi-validation-rule type="required" message="Offering type is required"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Unit number</label>
              <dx-text-box [(value)]="singleUnit.unit_num">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Unit number is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Floor num</label>
              <dx-number-box [class.required]="true" [(value)]="singleUnit.floor_num" [showSpinButtons]="true"
                [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Floor num is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Unit view</label>
          <dx-select-box [class.required]="true" [dataSource]="[{name:'Good view'},{name:'No view'}]"
            [(value)]="singleUnit.unit_view" displayExpr="name" valueExpr="name" [searchEnabled]="true">
            <dx-validator>
              <dxi-validation-rule type="required" message="Unit view is required"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
        <div class="form-group">
          <label>Market price</label>
          <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.market_price"
            [showSpinButtons]="false" [showClearButton]="false">
            <dx-validator>
              <dxi-validation-rule type="required" message="Market price is required"></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>
        </div>
        <div class="form-group">
          <h2 class="sectionTitle">Owner's Information</h2>
          <label>Owner name</label>
          <dx-text-box [(value)]="singleUnit.owner_name">
            <dx-validator>
              <dxi-validation-rule type="required" message="Owner name is required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="row">
          <!-- <div class="col-sm-4">
            <div class="form-group">
              <label>Country code</label>
              <dx-number-box [class.required]="true" value="" [showSpinButtons]="false" [showClearButton]="false"></dx-number-box>
            </div>
          </div> -->
          <div class="col-sm-12">
            <div class="form-group">
              <label>Owner phone</label>
              <dx-number-box [class.required]="true" [(value)]="singleUnit.owner_phone" [showSpinButtons]="false"
                [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Owner phone is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Owner email</label>
          <dx-text-box [(value)]="singleUnit.owner_email">
            <!-- <dx-validator>
              <dxi-validation-rule type="required" message="Owner email is required"></dxi-validation-rule>
            </dx-validator> -->
          </dx-text-box>
        </div>
        <div class="form-group">
          <label>Owner facebook</label>
          <dx-text-box [(value)]="singleUnit.owner_facebook">
            <!-- <dx-validator>
              <dxi-validation-rule type="required" message="Owner facebook is required"></dxi-validation-rule>
            </dx-validator> -->
          </dx-text-box>
        </div>
      </div>
      <div class="col-sm-8">
        <h2 class="sectionTitle">Unit Details</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Land area</label>
              <dx-text-box [(value)]="singleUnit.land_area">
                <!-- [disabled]="(!singleUnit.unit_type || singleUnit.unit_type == 'Townhouse' || singleUnit.unit_type == 'Twin villa')" -->
                <dx-validator>
                  <dxi-validation-rule type="required" message="Land area is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Garden area</label>
              <dx-text-box [(value)]="singleUnit.garden_area"
                [disabled]="(!singleUnit.unit_type || singleUnit.unit_type == 'Apartment' || singleUnit.unit_type == 'Standalone')">
                <!-- <dx-validator>
                  <dxi-validation-rule type="required" message="Garden area is required"></dxi-validation-rule>
                </dx-validator> -->
              </dx-text-box>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Building area</label>
              <dx-text-box [(value)]="singleUnit.building_area">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Building area is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Bedrooms</label>
              <dx-number-box [class.required]="true" [min]="0" [(value)]="singleUnit.bedrooms" [showSpinButtons]="false"
                [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Bedrooms is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Bathrooms</label>
              <dx-number-box [class.required]="true" [min]="0" [(value)]="singleUnit.bathrooms"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Bathrooms is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h2 class="sectionTitle">Unit Price</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Original price</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                (onValueChanged)="calculateOverPrice($event)" [(value)]="singleUnit.original_price"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Original price is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Original downpayment</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                [(value)]="singleUnit.original_downpayment" [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Original downpayment is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Owner price</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.owner_price"
                [showSpinButtons]="false" [showClearButton]="false" (onValueChanged)="calculateOverPrice($event)">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Owner price is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Over price</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.over_price"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Over price is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Commission percentage</label>
              <dx-number-box [class.required]="true" format="#0 %" [min]="0"
                (onValueChanged)="commissionChanged('%', $event)" [(value)]="singleUnit.commission_percentage"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Commission percentage is required">
                  </dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Commission value</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                (onValueChanged)="commissionChanged('#', $event)" [(value)]="singleUnit.commission_value"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Commission value is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Final price</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.final_price"
                [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Final price is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Final downpayment</label>
              <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                [(value)]="singleUnit.final_downpayment" [showSpinButtons]="false" [showClearButton]="false">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Final downpayment is required"></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <dx-text-area [class.required]="true" [autoResizeEnabled]="true" [(value)]="singleUnit.unit_desc"
                [height]="130">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Description is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-area>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-end">
        <div class="form-group">
          <button type="button" (click)="saveUnit()" mat-flat-button color="primary" class="mat-primary">Save</button>
          &nbsp; &nbsp;
          <!-- <button type="button" mat-flat-button color="accent" class="mat-primary">Save and add Another</button> -->
        </div>
      </div>
    </div>
    <!-- </form> -->
  </dx-validation-group>
</fieldset>

<div class="modal fade" id="addNewAreaModal" tabindex="-1" role="dialog" aria-labelledby="addNewAreaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog _modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="addNewAreaModalLabel">Add New area:</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-areas (afterSave)="afterSaveArea($event)"></app-new-areas>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNewCompoundModal" tabindex="-1" role="dialog" aria-labelledby="addNewCompoundModalLabel"
  aria-hidden="true">
  <div class="modal-dialog _modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="addNewCompoundModalLabel">Add New area:</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-compounds (afterSave)="afterSaveCompound($event)"></app-new-compounds>
      </div>
    </div>
  </div>
</div>