<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h2 class="page-title mat-h1">Add new unit</h2>
    </div><!--end page-title-box-->
  </div>
</div><!--end col-->

<ng-container *ngIf="areasLookup.length != 0; else loadingAreas">
  <div class="row">
    <div class="sectionTitle col-12 d-flex justify-content-between align-content-center mb-2">
      <h2 class="mb-0">Select Area</h2>
      <button type="button" (click)="openAddNewModel('area'); getAreasLookup()"
              mat-stroked-button color="accent">
        <i class="fas fa-plus"></i> Add new Area
      </button>
    </div>
    <div class="col-12">
      <mat-button-toggle-group [(ngModel)]="selectedArea" class="AreasListing" [class.notValidated]="compoundNotValidated && disableAreaValidationError">
        <ng-container *ngFor="let area of areasLookup">
          <mat-button-toggle [value]='area.id' (click)="selectArea2(area.id)">
            {{area.name}}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <p class="text-danger" *ngIf="compoundNotValidated && disableAreaValidationError">
        You must choose an AREA, If you are not sure, please select other.
      </p>
    </div>
  </div>
</ng-container>
<ng-template #loadingAreas>
  <mat-button-toggle-group class="typesOfProjects">
    <ng-container *ngFor="let i of [1,2,3]">
      <mat-button-toggle>Loading</mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>
</ng-template>

<ng-container *ngIf="compoundFilteredList.length != 0; else loadingComps">
  <div class="row">
    <div class="sectionTitle col-12 d-flex justify-content-between align-content-center mb-2">
      <h2 class="mb-0">Select Compound</h2>
      <button type="button" (click)="openAddNewModel('compound');"
              mat-stroked-button color="accent">
        <i class="fas fa-plus"></i> Add new Compound
      </button>
    </div>
    <div class="col-12">
      <mat-button-toggle-group class="typesOfProjects" [class.notValidated]="compoundNotValidated" [value]="singleUnit.compound_id">
        <ng-container *ngFor="let comp of compoundFilteredList">
          <mat-button-toggle (click)="setcompName(comp.id)" [value]="comp.id">
            {{comp.name}}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <p class="text-danger" *ngIf="compoundNotValidated">
        You must choose a compound, If you are not sure, please select other.
      </p>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="sectionTitle col-12"><h2>Select Unit Type</h2></div>
  <div class="col-12">
    <mat-button-toggle-group class="typesOfBuildings" [value]="singleUnit.unit_type">
      <mat-button-toggle *ngFor="let unitType of unitTypes;"
                         class="typeBlock"
                         [value]="unitType?.name"
                         [class.notValidated]="unitNotValidated"
                         (click)="setunitType(unitType?.name)">
        <mat-icon [svgIcon]="unitType?.icon"></mat-icon>
        <span>{{unitType?.name}}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <p class="text-danger" *ngIf="unitNotValidated">
      You must choose a type, If you are not sure, please select other.
    </p>
  </div>
</div>

<dx-validation-group #DataValidator>
  <!--Hiding area, compound and unit type but keeping them in the form -->
  <div class="row d-none">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Compound</label>
        <dx-select-box [class.required]="true"
                       [dataSource]="compoundsLookup"
                       [(value)]="singleUnit.compound_id"
                       displayExpr="name"
                       valueExpr="id"
                       [searchEnabled]="true">
        </dx-select-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Unit type</label>
        <dx-select-box [class.required]="true"
                       [dataSource]="[ {name:'Apartment'},{name:'Standalone'}, {name:'Townhouse'}, {name:'Twin villa'}]"
                       [(value)]="singleUnit.unit_type"
                       displayExpr="name"
                       valueExpr="name"
                       [searchEnabled]="true">

        </dx-select-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Area</label>
        <div class="extraFeature"><a class="addNewRecord" (click)="openAddNewModel('area')"><i
          class="fas fa-plus"></i> Add new</a></div>
        <dx-select-box [dataSource]="areasLookup"
                       displayExpr="name" valueExpr="id" [searchEnabled]="true">
        </dx-select-box>
      </div>
    </div>
  </div>
  <!--End of area / compound / unit type inputs-->


  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="sectionTitle col-12"><h2>Unit Informtion</h2></div>
            <div class="col-12">
              <div class="form-group">
                <label>Offering type</label>
                <dx-select-box [class.required]="true" [dataSource]="[{name:'Buy'},{name:'Sale'}, {name:'Rent'}]"
                               [(value)]="singleUnit.offering_type" displayExpr="name" valueExpr="name" [searchEnabled]="true">
                </dx-select-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Unit number</label>
                <dx-text-box [(value)]="singleUnit.unit_num"></dx-text-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Unit view</label>
                <!--Made Unit View as a STRING and select MENU-->
                <dx-select-box [class.required]="true"
                               [dataSource]="[ {name:'Good View'},{name:'No View'}]"
                               [(value)]="singleUnit.unit_view"
                               displayExpr="name"
                               valueExpr="name">
                </dx-select-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Market price</label>
                <!--Made Market price as a STRING and select MENU-->
                <dx-select-box [class.required]="true"
                               [dataSource]="[ {name:'Above Market Price'},{name:'Below Market Price'}, {name:'At Market Price'}]"
                               [(value)]="singleUnit.market_price"
                               displayExpr="name"
                               valueExpr="name">
                </dx-select-box>
              </div>
            </div>

            <div class="sectionTitle col-12"><h2>Owner's Information</h2></div>
            <div class="col-12">
              <div class="form-group">
                <label>Owner name</label>
                <dx-text-box [(value)]="singleUnit.owner_name">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Owner name is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Owner phone</label>
                <dx-number-box [class.required]="true" [(value)]="singleUnit.owner_phone" [showSpinButtons]="false"
                               [showClearButton]="false">
                  <dx-validator>
                    <dxi-validation-rule type="required" [min]="11" [max]="11" message="Owner phone must be at least 11 characters"></dxi-validation-rule>
                  </dx-validator>
                </dx-number-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Owner email</label>
                <dx-text-box [(value)]="singleUnit.owner_email"></dx-text-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Owner facebook</label>
                <dx-text-box [(value)]="singleUnit.owner_facebook"></dx-text-box>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <div class="todo">TO BE ADDED TO THE API!</div>
                <label>Owner's Notes</label>
                <dx-text-area [class.required]="true" [autoResizeEnabled]="true"
                              [height]="130">
                </dx-text-area>
              </div>
            </div>







          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="sectionTitle col-12"><h2>Unit Details</h2></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Floor num</label>
                <dx-number-box [class.required]="true" [(value)]="singleUnit.floor_num" [showSpinButtons]="true"
                               [showClearButton]="false">
                </dx-number-box>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Land area</label>
                <dx-text-box [(value)]="singleUnit.land_area">
                  <!-- [disabled]="(!singleUnit.unit_type || singleUnit.unit_type == 'Townhouse' || singleUnit.unit_type == 'Twin villa')" -->

                </dx-text-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Land area" autocomplete="off"
                    (input)="singleUnit.land_area=$event.target.value" formControlName="land_area" required>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Garden area</label>
                <dx-text-box [(value)]="singleUnit.garden_area"
                             [disabled]="(!singleUnit.unit_type || singleUnit.unit_type == 'Apartment' || singleUnit.unit_type == 'Standalone')">
                  <!-- <dx-validator>
                    <dxi-validation-rule type="required" message="Garden area is required"></dxi-validation-rule>
                  </dx-validator> -->
                </dx-text-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Garden area" autocomplete="off"
                    (input)="singleUnit.garden_area=$event.target.value" formControlName="garden_area" required>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Building area</label>
                <dx-text-box [(value)]="singleUnit.building_area">

                </dx-text-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Building area" autocomplete="off"
                    (input)="singleUnit.building_area=$event.target.value" formControlName="building_area" required>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Bedrooms</label>
                <dx-number-box [class.required]="true" [min]="0" [(value)]="singleUnit.bedrooms" [showSpinButtons]="false"
                               [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Bedrooms" autocomplete="off"
                    (input)="singleUnit.bedrooms=$event.target.value" numbersOnly formControlName="bedrooms">
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Bathrooms</label>
                <dx-number-box [class.required]="true" [min]="0" [(value)]="singleUnit.bathrooms"
                               [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Bathrooms" autocomplete="off"
                    (input)="singleUnit.bathrooms=$event.target.value" numbersOnly formControlName="bathrooms">
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="row">
            <div class="sectionTitle col-12"><h2>Unit Price</h2></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Original price</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" (onValueChanged)="calculateOverPrice($event)"
                               [(value)]="singleUnit.original_price" [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #original_price maxlength="12" placeholder="Original price"
                    (input)="singleUnit.original_price=$event.target.value" formControlName="original_price"
                    autocomplete="off" numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{original_price.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Original downpayment</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                               [(value)]="singleUnit.original_downpayment" [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #original_downpayment maxlength="12" placeholder="Original downpayment"
                    (input)="singleUnit.original_downpayment=$event.target.value" formControlName="original_downpayment"
                    autocomplete="off" numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{original_downpayment.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Owner price</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.owner_price"
                               [showSpinButtons]="false" [showClearButton]="false" (onValueChanged)="calculateOverPrice($event)">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #owner_price maxlength="12" placeholder="Owner price"
                    (input)="singleUnit.owner_price=$event.target.value" formControlName="owner_price" autocomplete="off"
                    numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{owner_price.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Over price</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.over_price"
                               [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #over_price maxlength="12" placeholder="Over price"
                    (input)="singleUnit.over_price=$event.target.value" formControlName="over_price" autocomplete="off"
                    numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{over_price.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Commission percentage</label>
                <dx-number-box [class.required]="true" format="#0 %" [min]="0" (onValueChanged)="commissionChanged('%', $event)"
                               [(value)]="singleUnit.commission_percentage" [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #commission_percentage maxlength="3" placeholder="Commission percentage"
                    (input)="singleUnit.commission_percentage=$event.target.value" formControlName="commission_percentage"
                    autocomplete="off" numbersOnly required>
                  <span matSuffix>&nbsp; %</span>
                  <mat-hint align="end">{{commission_percentage.value.length}} / 3</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Commission value</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" (onValueChanged)="commissionChanged('#', $event)"
                               [(value)]="singleUnit.commission_value" [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #commission_value maxlength="12" placeholder="Commission value"
                    (input)="singleUnit.commission_value=$event.target.value" formControlName="commission_value"
                    autocomplete="off" numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{commission_value.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Final price</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0" [(value)]="singleUnit.final_price"
                               [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #final_price maxlength="12" placeholder="Final price"
                    (input)="singleUnit.final_price=$event.target.value" formControlName="final_price" autocomplete="off"
                    numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{final_price.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Final downpayment</label>
                <dx-number-box [class.required]="true" format="#,##0.## EGP" [min]="0"
                               [(value)]="singleUnit.final_downpayment" [showSpinButtons]="false" [showClearButton]="false">

                </dx-number-box>
                <!-- <mat-form-field class="example-full-width">
                  <input matInput #final_downpayment maxlength="12" placeholder="Final downpayment"
                    (input)="singleUnit.final_downpayment=$event.target.value" formControlName="final_downpayment"
                    autocomplete="off" numbersOnly required>
                  <span matSuffix>&nbsp; EGP</span>
                  <mat-hint align="end">{{final_downpayment.value.length}} / 12</mat-hint>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Description</label>
                <dx-text-area [class.required]="true" [autoResizeEnabled]="true" [(value)]="singleUnit.unit_desc"
                              [height]="130">

                </dx-text-area>
                <!-- <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Description" (input)="singleUnit.unit_desc=$event.target.value"
                    formControlName="unit_desc" autocomplete="off" required></textarea>
                </mat-form-field> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col align-self-end">
      <div class="form-group">
        <button type="button" (click)="saveUnit()" mat-flat-button color="primary">Save</button>
        &nbsp; &nbsp;
        <button type="button" (click)="saveUnit(true)" mat-flat-button color="accent">Save and add Another</button>
      </div>
    </div>
  </div>
  <!-- </form> -->
</dx-validation-group>

<div class="modal fade" id="addNewAreaModal" tabindex="-1" role="dialog" aria-labelledby="addNewAreaModalLabel"
     aria-hidden="true">
  <div class="modal-dialog _modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="addNewAreaModalLabel">Add New area:</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-areas (afterSave)="afterSaveArea($event)"></app-new-areas>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNewCompoundModal" tabindex="-1" role="dialog" aria-labelledby="addNewCompoundModalLabel"
     aria-hidden="true">
  <div class="modal-dialog _modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="addNewCompoundModalLabel">Add New area:</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="resetAreaSearch">
          <app-new-compounds [reset]="true" (afterSave)="afterSaveCompound($event)"></app-new-compounds>
        </ng-container>
      </div>
    </div>
  </div>
</div>
