<fieldset>
  <legend>All Clients</legend>
  <dx-data-grid #grid class="dataGrid" height="400" [(dataSource)]="clientList" [showRowLines]="true"
    [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    [allowColumnResizing]="true" (onCellClick)="editRecord($event)" [columnAutoWidth]="true">
    <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
    <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
    <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Leads" [allowExportSelectedData]="false"></dxo-export>
    <dxo-filter-row [visible]="RowFilter"></dxo-filter-row>
    <dxo-column-chooser [enabled]="false" [allowSearch]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-group-panel [visible]="GroupFilter"></dxo-group-panel>
    <!--fixed Column-->
    <dxi-column cssClass="grid-cell" dataType="string" dataField="first_name" caption="First name"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="second_name" caption="Second name"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="gender" caption="Gender" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="email" caption="Email" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="mobile" caption="Mobile" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="boolen" dataField="active" caption="active" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="type" caption="Type" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>

    <dxi-column cssClass="grid-cell" dataType="string" dataField="client" caption="Request type" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="request_typeTemplate"></dxi-column>
    <div *dxTemplate="let data of 'clientTemplate'">
      {{data.data.client.request_type}}
    </div>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="budget_from" caption="Budget from"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
      cellTemplate="budget_fromTemplate"></dxi-column>
    <div *dxTemplate="let data of 'budget_fromTemplate'">
      {{data.data.client.budget_from}}
    </div>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="budget_to" caption="Budget to" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="budget_toTemplate"></dxi-column>
    <div *dxTemplate="let data of 'budget_toTemplate'">
      {{data.data.client.budget_to}}
    </div>

    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"
      caption="Created at" [allowFiltering]="false" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="updated_at"
      caption="Updated at" [allowFiltering]="false" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="id" caption="Status" [allowFiltering]="true"
      [fixed]="true" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="changeStatusTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'changeStatusTemplate'">
      <button type="button" (click)="openChangeStatusModal(data.data)" mat-flat-button color="primary"
        class="mat-primary">Change status</button>
    </div>

    <dxo-summary>
      <dxi-total-item column="first_name" summaryType="count">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</fieldset>

<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editClientModalLabel">Edit client:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-client #editClientComponent [updateMode]="true" (afterSave)="afterSaveClient($event)"></app-new-client>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeStatusModalLabel">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-tabs [currentTabName]="mainTabsName">
          <li class="tabItem" [class.active]="mainTabsSwitch == 'primary'">
            <a (click)="changeMainTabs('primary')">Primary</a>
          </li>
          <li class="tabItem" [class.active]="mainTabsSwitch == 'resale'">
            <a (click)="changeMainTabs('resale')">Resale</a>
          </li>
        </app-tabs>
        <div class="_tabsHolder">
          <div *ngIf="mainTabsSwitch == 'primary'">
            <dx-validation-group #changeStatusValidator>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit price</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit price required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit Type</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit Type required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit size</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit size required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Region</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Region required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Project name</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Project name required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Developer name</label>
                    <dx-text-box [class.required]="true"></dx-text-box>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <button type="button" mat-flat-button color="primary" class="mat-primary">Submit</button>
                  </div>
                </div>
              </div>
            </dx-validation-group>
          </div>
          <div *ngIf="mainTabsSwitch == 'resale'">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <label>1- Activity Type</label>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <dx-validation-group #activityStatusValidator>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Activity type</label>
                            <dx-select-box [class.required]="true"
                              [dataSource]="[{name:'Call'},{name:'Meeting'},{name:'Showing'}]"
                              [(value)]="resaleTypeOptionObj.activity_type" displayExpr="name" valueExpr="name"
                              [searchEnabled]="true">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-select-box>
                            <!-- (onValueChanged)="fdfgdfg()" -->
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Activity status</label>
                            <dx-select-box [class.required]="true"
                              [dataSource]="[{name:'Ongoing'},{name:'Won'},{name:'Lost'}]"
                              [(value)]="resaleTypeOptionObj.activity_status" displayExpr="name" valueExpr="name"
                              [searchEnabled]="true">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-select-box>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Feedback</label>
                            <dx-text-area [class.required]="true" [autoResizeEnabled]="true"
                              [(value)]="resaleTypeOptionObj.feedback" [height]="100">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-text-area>
                          </div>
                        </div>
                      </div>
                    </dx-validation-group>
                    <!-- data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" -->
                    <button (click)="goToStep(2)" type="button" mat-flat-button color="primary" class="mat-primary">
                      Next
                    </button>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <label>2- Type of sale</label>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <dx-validation-group #resaleTypeValidator>
                    <div class="form-group">
                      <dx-radio-group [items]="resaleTypeOption" (onValueChanged)="resaleTypeOptionChanged($event)"
                        [(value)]="resaleTypeOptionObj.type" layout="horizontal">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-radio-group>
                    </div>
                    </dx-validation-group>
                    <!-- <button type="button" mat-flat-button color="accent" class="mat-primary mr-2" (click)="backToStep(1)">
                      return
                     </button> -->
                      <!--data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" -->
                    <button type="button" (click)="goToStep(3)" mat-flat-button color="primary" class="mat-primary">
                      Next </button>
                    <!-- data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" -->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <label>3- Unit information</label>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[0]">
                      <dx-validation-group #changeStatusValidator>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit price</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit price required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit Type</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit Type required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit size</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit size required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Region</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Region required"></dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Project name</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Project name required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Developer name</label>
                              <dx-text-box [class.required]="true"></dx-text-box>
                            </div>
                          </div>
                        </div>
                      </dx-validation-group>
                    </div>
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[1]">
                      <app-units-list displayMode="select" (selectedRow)="selectedUnit($event)"></app-units-list>
                    </div>
                    <!-- <button type="button" mat-flat-button color="accent" class="mat-primary mr-2" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      return
                    </button> -->
                    <button type="button" (click)="submitActivity()" mat-flat-button color="primary" class="mat-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>