<div class="card">
  <div class="card-body">
    <fieldset>
      <legend>All Clients</legend>
      <dx-data-grid #grid class="dataGrid" height="400"
                    [(dataSource)]="clientList"
                    [showRowLines]="true"
                    [showColumnLines]="true"
                    [showBorders]="true"
                    [rowAlternationEnabled]="true"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    (onCellClick)="editRecord($event)"
                    [columnAutoWidth]="true">
        <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
        <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
        <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-export [enabled]="true" fileName="Leads" [allowExportSelectedData]="false"></dxo-export>
        <dxo-filter-row [visible]="RowFilter"></dxo-filter-row>
        <dxo-column-chooser [enabled]="false" [allowSearch]="true"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-group-panel [visible]="GroupFilter"></dxo-group-panel>        <!--fixed Column-->
        <dxi-column cssClass="grid-cell" dataType="string" dataField="first_name" caption="First name"
                    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="string" dataField="second_name" caption="Second name"
                    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="string" dataField="gender" caption="Gender" [allowFiltering]="true"
                    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="string" dataField="email" caption="Email" [allowFiltering]="true"
                    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="string" dataField="mobile" caption="Mobile" [allowFiltering]="true"
                    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="boolen" dataField="active" caption="active" [allowFiltering]="true"
                    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
        <dxi-column cssClass="grid-cell" dataType="string" dataField="type" caption="Type" [allowFiltering]="true"
                    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="client" caption="Request type" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="request_typeTemplate"></dxi-column>
    <div *dxTemplate="let data of 'clientTemplate'">
      {{data.data.client.request_type}}
    </div>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="budget_from" caption="Budget from"
      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
      cellTemplate="budget_fromTemplate"></dxi-column>
    <div *dxTemplate="let data of 'budget_fromTemplate'">
      {{data.data.client.budget_from}}
    </div>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="budget_to" caption="Budget to" [allowFiltering]="true"
      [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="budget_toTemplate"></dxi-column>
    <div *dxTemplate="let data of 'budget_toTemplate'">
      {{data.data.client.budget_to}}
    </div>

    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"
      caption="Created at" [allowFiltering]="false" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="updated_at"
      caption="Updated at" [allowFiltering]="false" [allowEditing]="false" [visible]="true" [width]="'auto'">
    </dxi-column>
    <dxi-column cssClass="grid-cell" dataType="string" dataField="id" caption="Status" [allowFiltering]="true"
      [fixed]="true" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="changeStatusTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'changeStatusTemplate'">
      <button type="button" (click)="openChangeStatusModal(data.data)" mat-flat-button color="primary"
        class="mat-primary">Change status</button>
    </div>

        <dxo-summary>
          <dxi-total-item column="first_name" summaryType="count">
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </fieldset>
  </div>
</div>


<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editClientModalLabel">Edit client:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-client #editClientComponent [updateMode]="true" (afterSave)="afterSaveClient($event)"></app-new-client>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeStatusModalLabel">Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-tabs [currentTabName]="mainTabsName">
          <li class="tabItem" [class.active]="mainTabsSwitch == 'primary'">
            <a (click)="changeMainTabs('primary')">Primary</a>
          </li>
          <li class="tabItem" [class.active]="mainTabsSwitch == 'resale'">
            <a (click)="changeMainTabs('resale')">Resale</a>
          </li>
        </app-tabs>
        <div class="_tabsHolder">
          <div *ngIf="mainTabsSwitch == 'primary'">
            <dx-validation-group #changeStatusValidator>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit price</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit price required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit Type</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit Type required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Unit size</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Unit size required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Region</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Region required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Project name</label>
                    <dx-text-box [class.required]="true">
                      <dx-validator>
                        <dxi-validation-rule type="required" message="Project name required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Developer name</label>
                    <dx-text-box [class.required]="true"></dx-text-box>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <button type="button" mat-flat-button color="primary" class="mat-primary">Submit</button>
                  </div>
                </div>
              </div>
            </dx-validation-group>
          </div>
          <div *ngIf="mainTabsSwitch == 'resale'">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <label>1- Activity Type</label>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <dx-validation-group #activityStatusValidator>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Activity type</label>
                            <dx-select-box [class.required]="true"
                              [dataSource]="[{name:'Call'},{name:'Meeting'},{name:'Showing'}]"
                              [(value)]="resaleTypeOptionObj.activity_type" displayExpr="name" valueExpr="name"
                              [searchEnabled]="true">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-select-box>
                            <!-- (onValueChanged)="fdfgdfg()" -->
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Activity status</label>
                            <dx-select-box [class.required]="true"
                              [dataSource]="[{name:'Ongoing'},{name:'Won'},{name:'Lost'}]"
                              [(value)]="resaleTypeOptionObj.activity_status" displayExpr="name" valueExpr="name"
                              [searchEnabled]="true">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-select-box>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Feedback</label>
                            <dx-text-area [class.required]="true" [autoResizeEnabled]="true"
                              [(value)]="resaleTypeOptionObj.feedback" [height]="100">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-text-area>
                          </div>
                        </div>
                      </div>
                    </dx-validation-group>
                    <!-- data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" -->
                    <button (click)="goToStep(2)" type="button" mat-flat-button color="primary" class="mat-primary">
                      Next
                    </button>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <label>2- Type of sale</label>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <dx-validation-group #resaleTypeValidator>
                    <div class="form-group">
                      <dx-radio-group [items]="resaleTypeOption" (onValueChanged)="resaleTypeOptionChanged($event)"
                        [(value)]="resaleTypeOptionObj.type" layout="horizontal">
                        <dx-validator>
                          <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-radio-group>
                    </div>
                    </dx-validation-group>
                    <!-- <button type="button" mat-flat-button color="accent" class="mat-primary mr-2" (click)="backToStep(1)">
                      return
                     </button> -->
                      <!--data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" -->
                    <button type="button" (click)="goToStep(3)" mat-flat-button color="primary" class="mat-primary">
                      Next </button>
                    <!-- data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" -->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <label>3- Unit information</label>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[0]">
                      <dx-validation-group #changeStatusValidator>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit price</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit price required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit Type</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit Type required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Unit size</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Unit size required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Region</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Region required"></dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Project name</label>
                              <dx-text-box [class.required]="true">
                                <dx-validator>
                                  <dxi-validation-rule type="required" message="Project name required">
                                  </dxi-validation-rule>
                                </dx-validator>
                              </dx-text-box>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Developer name</label>
                              <dx-text-box [class.required]="true"></dx-text-box>
                            </div>
                          </div>
                        </div>
                      </dx-validation-group>
                    </div>
                    <div *ngIf="resaleTypeOptionObj.type == resaleTypeOption[1]">
                      <app-units-list displayMode="select" (selectedRow)="selectedUnit($event)"></app-units-list>
                    </div>
                    <!-- <button type="button" mat-flat-button color="accent" class="mat-primary mr-2" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      return
                    </button> -->
                    <button type="button" (click)="submitActivity()" mat-flat-button color="primary" class="mat-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>










<!--TEMP here-->

<!--<div class="row">-->
<!--  <div class="col-lg-3">-->
<!--    <div class="card team-card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <img src="assets/images/users/4.jpg" alt="" class="rounded-circle user-img img-thumbnail mb-2">-->
<!--          <h4 class="team-leader">Willie Miller</h4>-->
<!--          <p class="text-muted font-12">Team Leader</p>-->
<!--        </div>-->
<!--        <small class="float-right font-13 pt-2 text-muted">1 Lead , 7 Employees</small>-->
<!--        <div class="img-group">-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a href="" class="avatar-box thumb-xs align-self-center">-->
<!--            <span class="avatar-title bg-soft-info rounded-circle font-13">+4</span>-->
<!--          </a>-->
<!--        </div>&lt;!&ndash;end img-group&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end card&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="col-lg-3">-->
<!--    <div class="card team-card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <img src="assets/images/users/4.jpg" alt="" class="rounded-circle user-img img-thumbnail mb-2">-->
<!--          <h4 class="team-leader">Willie Miller</h4>-->
<!--          <p class="text-muted font-12">Team Leader</p>-->
<!--        </div>-->
<!--        <small class="float-right font-13 pt-2 text-muted">1 Lead , 7 Employees</small>-->
<!--        <div class="img-group">-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a href="" class="avatar-box thumb-xs align-self-center">-->
<!--            <span class="avatar-title bg-soft-info rounded-circle font-13">+4</span>-->
<!--          </a>-->
<!--        </div>&lt;!&ndash;end img-group&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end card&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="col-lg-3">-->
<!--    <div class="card team-card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <img src="assets/images/users/4.jpg" alt="" class="rounded-circle user-img img-thumbnail mb-2">-->
<!--          <h4 class="team-leader">Willie Miller</h4>-->
<!--          <p class="text-muted font-12">Team Leader</p>-->
<!--        </div>-->
<!--        <small class="float-right font-13 pt-2 text-muted">1 Lead , 7 Employees</small>-->
<!--        <div class="img-group">-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a href="" class="avatar-box thumb-xs align-self-center">-->
<!--            <span class="avatar-title bg-soft-info rounded-circle font-13">+4</span>-->
<!--          </a>-->
<!--        </div>&lt;!&ndash;end img-group&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end card&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="col-lg-3">-->
<!--    <div class="card team-card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <img src="assets/images/users/4.jpg" alt="" class="rounded-circle user-img img-thumbnail mb-2">-->
<!--          <h4 class="team-leader">Willie Miller</h4>-->
<!--          <p class="text-muted font-12">Team Leader</p>-->
<!--        </div>-->
<!--        <small class="float-right font-13 pt-2 text-muted">1 Lead , 7 Employees</small>-->
<!--        <div class="img-group">-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a class="user-avatar user-avatar-group" href="#">-->
<!--            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle thumb-xs">-->
<!--          </a>-->
<!--          <a href="" class="avatar-box thumb-xs align-self-center">-->
<!--            <span class="avatar-title bg-soft-info rounded-circle font-13">+4</span>-->
<!--          </a>-->
<!--        </div>&lt;!&ndash;end img-group&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end card&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-lg-8 mx-auto">-->
<!--    <div class="card invoice">-->
<!--      <div class="card-body invoice-head">-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 align-self-center">-->
<!--            <img src="assets/images/logo-extended.svg" alt="logo-small" class="logo-sm mr-2" height="26">-->
<!--            &lt;!&ndash;<img src="assets/images/logo-2-light.svg" alt="logo-large" class="logo-lg" height="16">&ndash;&gt;-->
<!--            <p class="mt-2 mb-0 text-muted">If account is not paid within 7 days the credits details supplied as confirmation.</p>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--          <div class="col-md-8">-->
<!--            <ul class="list-inline mb-0 contact-detail float-right">-->
<!--              <li class="list-inline-item">-->
<!--                <div class="pl-3">-->
<!--                  <i class="mdi mdi-web"></i>-->
<!--                  <p class="text-muted mb-0">www.abcdefghijklmno.com</p>-->
<!--                  <p class="text-muted mb-0">www.qrstuvwxyz.com</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <div class="pl-3">-->
<!--                  <i class="mdi mdi-phone"></i>-->
<!--                  <p class="text-muted mb-0">+123 123456789</p>-->
<!--                  <p class="text-muted mb-0">+123 123456789</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <div class="pl-3">-->
<!--                  <i class="mdi mdi-map-marker"></i>-->
<!--                  <p class="text-muted mb-0">2821 Kensington Road,</p>-->
<!--                  <p class="text-muted mb-0">Avondale Estates, GA 30002 USA.</p>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <div class="row">-->
<!--          <div class="col-md-3">-->
<!--            <div class="">-->
<!--              <h6 class="mb-0"><b>Start Date :</b> 11/05/2019</h6>-->
<!--              <h6 class="mb-0"><b>End Date :</b> 10/06/2019</h6>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--          <div class="col-md-6">-->
<!--            <h6 class="mb-0"><b>Compny :</b> Hubland</h6>-->
<!--            <h6 class="mb-0"><b>Project Name :</b> Trading System</h6>-->
<!--            <h6 class="mb-0"><b>Invoice No :</b> #1240</h6>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--          <div class="col-md-3">-->
<!--            <div class="text-center bg-light p-3 mb-3">-->
<!--              <h5 class="bg-info mt-0 p-2 text-white d-sm-inline-block">Payment Methods</h5>-->
<!--              <h6 class="font-13">Paypal &amp; Cards Payments :</h6>-->
<!--              <p class="mb-0 text-muted">CompanyA/c.paypal@gmai.com</p>-->
<!--              <p class="mb-0 text-muted">Visa, Master Card, Chaque</p>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--        <div class="row">-->
<!--          <div class="col-lg-12">-->
<!--            <div class="table-responsive project-invoice">-->
<!--              <table class="table table-bordered mb-0">-->
<!--                <thead class="thead-light">-->
<!--                <tr>-->
<!--                  <th>Project Breakdown</th>-->
<!--                  <th>Hours</th>-->
<!--                  <th>Rate</th>-->
<!--                  <th>Subtotal</th>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <h5 class="mt-0 mb-1">Project Design</h5>-->
<!--                    <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted.</p>-->
<!--                  </td>-->
<!--                  <td>60</td>-->
<!--                  <td>$50</td>-->
<!--                  <td>$3000.00</td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <h5 class="mt-0 mb-1">Development</h5>-->
<!--                    <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted.</p>-->
<!--                  </td>-->
<!--                  <td>100</td>-->
<!--                  <td>$50</td>-->
<!--                  <td>$5000.00</td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <h5 class="mt-0 mb-1">Testing &amp; Bug Fixing</h5>-->
<!--                    <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted.</p>-->
<!--                  </td>-->
<!--                  <td>10</td>-->
<!--                  <td>$20</td>-->
<!--                  <td>$200.00</td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                <tr>-->
<!--                  <td colspan="2" class="border-0"></td>-->
<!--                  <td class="border-0 font-14"><b>Sub Total</b></td>-->
<!--                  <td class="border-0 font-14"><b>$82,000.00</b></td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                <tr>-->
<!--                  <th colspan="2" class="border-0"></th>-->
<!--                  <td class="border-0 font-14"><b>Tax Rate</b></td>-->
<!--                  <td class="border-0 font-14"><b>$0.00%</b></td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                <tr class="bg-dark text-white">-->
<!--                  <th colspan="2" class="border-0"></th>-->
<!--                  <td class="border-0 font-14"><b>Total</b></td>-->
<!--                  <td class="border-0 font-14"><b>$82,000.00</b></td>-->
<!--                </tr>&lt;!&ndash;end tr&ndash;&gt;-->
<!--                </tbody>-->
<!--              </table>&lt;!&ndash;end table&ndash;&gt;-->
<!--            </div>&lt;!&ndash;end /div&ndash;&gt;-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h5 class="mt-4">Terms And Condition :</h5>-->
<!--            <ul class="pl-3">-->
<!--              <li><small>All accounts are to be paid within 7 days from receipt of invoice.</small></li>-->
<!--              <li><small>To be paid by cheque or credit card or direct payment online.</small></li>-->
<!--              <li><small>If account is not paid within 7 days the credits details supplied as confirmation<br>of work undertaken will be charged the agreed quoted fee noted above.</small></li>-->
<!--            </ul>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--          <div class="col-lg-6 align-self-end">-->
<!--            <div class="w-25 float-right">-->
<!--              <small>Account Manager</small>-->
<!--              <img src="assets/images/signature.png" alt="" class="" height="48">-->
<!--              <p class="border-top">Signature</p>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--        <hr>-->
<!--        <div class="row d-flex justify-content-center">-->
<!--          <div class="col-lg-12 col-xl-4 ml-auto align-self-center">-->
<!--            <div class="text-center text-muted">-->
<!--              <small>Thank you very much for doing business with us. Thanks !</small>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--          <div class="col-lg-12 col-xl-4">-->
<!--            <div class="float-right d-print-none">-->
<!--              <a href="javascript:window.print()" class="btn btn-info"><i class="fa fa-print"></i></a>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end card-body&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end card&ndash;&gt;-->
<!--  </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--</div>-->

<!--End Temp here-->
