<fieldset>
  <legend>New level:</legend>
  <dx-validation-group #DataValidator>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Name</label>
          <dx-text-box [(value)]="singleLevel.name">
            <dx-validator>
              <dxi-validation-rule type="required" message="Name type is required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Value</label>
          <dx-number-box [(value)]="singleLevel.value" [showSpinButtons]="true" [showClearButton]="false">
            <dx-validator>
              <dxi-validation-rule type="required" message="Value type is required"></dxi-validation-rule>
            </dx-validator>
          </dx-number-box>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <button type="button" (click)="saveLevel()" mat-flat-button color="primary" class="mat-primary">Save</button>
        </div>
      </div>
    </div>
  </dx-validation-group>
</fieldset>