<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h2 class="page-title mat-h1">Dashboard</h2>
    </div><!--end page-title-box-->
  </div>
</div><!--end col-->



<div class="row el-element-overlay">
  <div class="col-md-12">
    <h4 class="card-title">Employees</h4>
  </div>
<dx-data-grid #grid class="dataGrid" height="400" [(dataSource)]="employeesList" [showRowLines]="true"
    [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
  [allowColumnResizing]="true" (onCellClick)="editRecord($event)" [columnAutoWidth]="true">
  <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
  <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
  <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-export [enabled]="true" fileName="Leads" [allowExportSelectedData]="false"></dxo-export>
  <dxo-filter-row [visible]="RowFilter"></dxo-filter-row>
  <dxo-column-chooser [enabled]="false" [allowSearch]="true"></dxo-column-chooser>
  <dxo-group-panel [visible]="GroupFilter"></dxo-group-panel>
  <!--fixed Column-->
  <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="id"
    caption="Picture" [allowFiltering]="false" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="profile_pictureTemplate">
  </dxi-column>
  <div *dxTemplate="let data of 'profile_pictureTemplate'">
    <ng-container *ngIf="data.data.employee"><img src="{{data.data.employee.profile_picture}}" width="20" onerror="this.onerror=null;this.src='assets/images/profile-pic-placeholder.png';" /></ng-container>
  </div>
  <dxi-column cssClass="grid-cell" dataType="string" dataField="first_name" caption="First name" [allowFiltering]="true"
    [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="string" dataField="second_name" caption="Second name"
    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="string" dataField="type" caption="type"
    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="number" dataField="mobile" caption="Mobile"
    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="string" dataField="gender" caption="Gender"
    [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="string" dataField="email" caption="Email" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
  <dxi-column cssClass="grid-cell" dataType="Date" dataField="id" caption="Joining date" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="joining_dateTemplate"></dxi-column>
  <div *dxTemplate="let data of 'joining_dateTemplate'">
    <ng-container *ngIf="data.data.employee">{{data.data.employee.joining_date}}</ng-container>
  </div>
  <dxi-column cssClass="grid-cell" dataType="Date" dataField="id" caption="Job title" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="job_titleTemplate"></dxi-column>
  <div *dxTemplate="let data of 'job_titleTemplate'">
    <ng-container *ngIf="data.data.employee">{{data.data.employee.job_title}}</ng-container>
  </div>

  <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"
    caption="Created at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
  </dxi-column>
  <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="updated_at"
    caption="Updated at" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
  </dxi-column>

  <dxi-column cssClass="grid-cell" dataType="string" dataField="created_by" caption="Created by" [allowFiltering]="true"
    [allowEditing]="false" [visible]="true" [width]="'auto'" cellTemplate="created_byTemplate"></dxi-column>

  <div *dxTemplate="let data of 'created_byTemplate'">
    <ng-container *ngIf="data.data.employee">{{data.data.employee.first_name}} {{data.data.employee.second_name}}</ng-container>
  </div>
  <dxo-summary>
    <dxi-total-item column="first_name" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>



  <!-- <div class="col-lg-3 col-md-6" *ngFor="let employee of employeesList">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <img *ngIf="employee.employee" src="../assets/images/users/{{employee.employee.profile_picture}}.jpg" alt="user" />
          <div class="el-overlay">
            <ul class="el-info">
              <li>
                <a class="btn default btn-outline image-popup-vertical-fit" href="../plugins/images/users/1.jpg">
                <i class="icon-magnifier"></i>
              </a>
            </li>
              <li><a class="btn default btn-outline" [routerLink]="'/employee/'+ employee.id"><i class="icon-link"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="el-card-content">
          <h3 [routerLink]="'/employee/'+ employee.id" class="box-title">{{employee.first_name}} {{employee.second_name}}</h3> <small>{{employee.mobile}} - {{employee.email}} </small>
          <br />
        </div>
      </div>
    </div>
  </div> -->
</div>
