<fieldset>
  <legend>New client:</legend>
  <form [formGroup]="clientFormGroup" (ngSubmit)="saveClient()">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" (input)="singleClient.first_name=$event.target.value" formControlName="first_name"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Second name" (input)="singleClient.second_name=$event.target.value" formControlName="second_name"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile" (input)="singleClient.mobile=$event.target.value" formControlName="mobile"
            numbersOnly required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" (input)="singleClient.email=$event.target.value" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>gender</mat-label>
            <mat-select formControlName="gender" [(value)]="singleClient.gender" required>
              <mat-option value="Male">
                Male
              </mat-option>
              <mat-option value="Female">
                Female
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Request type</mat-label>
            <mat-select formControlName="request_type" [(value)]="singleClient.request_type" required>
              <mat-option value="Buy">
                Buy
              </mat-option>
              <mat-option value="Sale">
                Sale
              </mat-option>
              <mat-option value="Rent">
                Rent
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Budget from" (input)="singleClient.budget_from=$event.target.value" formControlName="budget_from"
            numbersOnly required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Budget to" (input)="singleClient.budget_to=$event.target.value" formControlName="budget_to"
            numbersOnly required>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <button type="submit" mat-flat-button color="primary" class="mat-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>