<dx-validation-group #DataValidator>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>First name</label>
        <dx-text-box [(value)]="singleClient.first_name">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Second name</label>
        <dx-text-box [(value)]="singleClient.second_name">
          <dx-validator>
            <dxi-validation-rule type="required" message="Second name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Mobile</label>
        <dx-number-box [class.required]="true" [(value)]="singleClient.mobile" [showSpinButtons]="false"
          [showClearButton]="false">
          <dx-validator>
            <dxi-validation-rule type="required" message="Mobile is required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Email</label>
        <dx-text-box [(value)]="singleClient.email"></dx-text-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Gender</label>
        <dx-select-box [class.required]="true" [dataSource]="[{name:'Male'},{name:'Female'}]"
          [(value)]="singleClient.gender" displayExpr="name" valueExpr="name" [searchEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="Request type type is required"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Request type</label>
        <dx-select-box *ngIf="!clientID" [class.required]="true" [dataSource]="[{name:'Buy'},{name:'Sale'}, {name:'Rent'}]"
          [(value)]="singleClient.request_type" displayExpr="name" valueExpr="name" [searchEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="Request type type is required"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
        <dx-select-box *ngIf="clientID && singleClient.client" [class.required]="true" [dataSource]="[{name:'Sale'}, {name:'Rent'}]"
          [(value)]="singleClient.client.request_type" displayExpr="name" valueExpr="name" [searchEnabled]="true">
          <dx-validator>
            <dxi-validation-rule type="required" message="Request type type is required"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Budget from</label>
        <dx-number-box *ngIf="!clientID" [class.required]="true" [(value)]="singleClient.budget_from" [showSpinButtons]="false"
          [showClearButton]="false">
          <dx-validator>
            <dxi-validation-rule type="required" message="Budget from is required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
        <dx-number-box *ngIf="clientID && singleClient.client" [class.required]="true" [(value)]="singleClient.client.budget_from" [showSpinButtons]="false"
          [showClearButton]="false">
          <dx-validator>
            <dxi-validation-rule type="required" message="Budget from is required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Budget to</label>
        <dx-number-box *ngIf="!clientID" [class.required]="true" [(value)]="singleClient.budget_to" [showSpinButtons]="false"
          [showClearButton]="false">
          <dx-validator>
            <dxi-validation-rule type="required" message="Budget to is required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
        <dx-number-box *ngIf="clientID && singleClient.client" [class.required]="true" [(value)]="singleClient.client.budget_to" [showSpinButtons]="false"
          [showClearButton]="false">
          <dx-validator>
            <dxi-validation-rule type="required" message="Budget to is required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label>Interested in</label>
        <dx-drop-down-box [(value)]="gridBoxValue" valueExpr="id" [displayExpr]="unit_code" placeholder="Select a value..."
          [showClearButton]="true" [dataSource]="unitsLookup" (onValueChanged)="unitOnValueChanged($event)">
        
          <div *dxTemplate="let data of 'content'">
            <dx-data-grid [dataSource]="unitsLookup" [columns]="['unit_code', 'offering_type', 'id']"
              [selection]="{ mode: 'multiple' }" [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
              [filterRow]="{ visible: true }" [scrolling]="{ mode: 'infinite' }" [height]="345"
              [(selectedRowKeys)]="gridSelectedRowKeys">
            </dx-data-grid>
          </div>
          <dx-validator>
            <dxi-validation-rule type="required" message="Unit is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-drop-down-box>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <button type="button" (click)="saveClient()" mat-flat-button color="primary" class="mat-primary">Save client</button>
      </div>
    </div>
  </div>
</dx-validation-group>
<div *ngIf="singleClient.id">
  <fieldset>
    <legend>Add activity to this client:</legend>
    <app-new-activity [clientId]="singleClient.id" (afterSave)="reloadActivities($event)"></app-new-activity>
    <app-activities-list #activitiesListComponent [filterByClient]="singleClient.id"></app-activities-list>
  </fieldset>
</div>