<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">
                <!-- Logo icon -->
                <b>
                  <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                  <!-- Dark Logo icon -->
                  <img src="assets/images/logo-2-light.svg" alt="homepage" class="dark-logo d-none d-xl-inline-block" style="width:50%;"/>
                  <!--<h2>Leads</h2>-->
                  <!-- Light Logo icon -->
                  <img src="assets/images/logo-2-light.svg" alt="homepage" class="light-logo d-inline-block d-xl-none" style="width: 50px;" />
                </b>
                <!--End Logo icon -->
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-lg-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                <li class="nav-item"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                       routerLink="/addUnit"><i class="fa fa-building mr-1"></i> Add Unit</a></li>

                <li class="nav-item"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                         routerLink="/addClient"><i class="fa fa-vcard mr-1"></i> Add Client</a></li>
                <!--TODO Please remember to add ADMIN privilage to this button!-->
                <li class="nav-item"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                                         routerLink="/addLead"><i class="fa fa-rocket mr-1"></i> Add Lead (Only for Admins)</a></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-sm-down">
                    <!--<form class="app-search">-->
                    <!--<input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a> </form>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <app-notifications-list></app-notifications-list>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{savedStorageObj.first_name}} {{savedStorageObj.second_name}}</h4>
                                        <p class="text-muted">{{savedStorageObj.email}}</p>
                                        <!-- <a routerLink="/profile{{savedStorageObj.id}}" class="btn btn-rounded btn-danger btn-sm">View Profile</a> -->
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/employee/{{savedStorageObj.id}}"><i class="fas fa-address-card"></i> My Profile</a></li>
                            <li><a routerLink="/toDo"><i class="fas fa-check-double"></i> Todo list</a></li>
                            <!-- <li><a routerLink=""><i class="fas fa-inbox"></i> Inbox</a></li> -->
                            <!--<li role="separator" class="divider"></li>
                             <li><a routerLink=""><i class="fas fa-user-cog"></i> Account Setting</a></li> -->
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
