// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
/* For use in src/lib/core/theming/_palette.scss */
$mat-leads-blue: (
  50 : #e0f3f9,
  100 : #b3e0f0,
  200 : #80cce6,
  300 : #4db8db,
  400 : #26a8d4,
  500 : #0099cc,
  600 : #0091c7,
  700 : #0086c0,
  800 : #007cb9,
  900 : #006bad,
  A100 : #d7edff,
  A200 : #a4d7ff,
  A400 : #71c0ff,
  A700 : #58b5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-leads-orange: (
  50 : #fcefe4,
  100 : #f8d7bc,
  200 : #f4bc8f,
  300 : #efa162,
  400 : #eb8c41,
  500 : #e8781f,
  600 : #e5701b,
  700 : #e26517,
  800 : #de5b12,
  900 : #d8480a,
  A100 : #ffffff,
  A200 : #ffdccf,
  A400 : #ffb59c,
  A700 : #ffa283,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-leads-grey: (
  50 : #ebeef0,
  100 : #cdd6d9,
  200 : #acbac0,
  300 : #8b9ea7,
  400 : #728a94,
  500 : #597581,
  600 : #516d79,
  700 : #48626e,
  800 : #3e5864,
  900 : #2e4551,
  A100 : #9eddff,
  A200 : #6bcbff,
  A400 : #38b9ff,
  A700 : #1fb0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-du-black: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-du-white: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//Different Variables
$loading-gradient: linear-gradient(to bottom left, #f7f7f7 0%, #f3f3f3 100%);
$portalBG-Color: #F2F2F2;
