@import"../../../../assets/scss/variable";
.left-sidebar{
  background-image: $sidebarbgColor;
  overflow: hidden !important;
  //box-shadow: 0 8px 28px 0 rgba(0,0,0,0.07);
  //border-right: 1px solid rgba(0,0,0,.125);
}

@mixin darkBG{
  color: #fff;
}
@mixin darkBGButton{
  color:#666;
  background: white;
}
@mixin lightBG{
  color: #666666;
}
@mixin lightBGButton{
  color:white;
  background-image: $gradientBlue;
}
.side-nav{
  margin: 0px;
  padding: 0px;
  display: flex;
  padding: 16px 10px;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  a{
    @include darkBG;
    font-size: 12px;
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    padding: 16px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    margin-bottom: 10px;
    span{
      display: block;
      width:100%;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    &.router-link-active{
      @include darkBGButton;
      transition: all 0.2s linear;
      box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.28);
      border-radius: 6px;
    }
  }
}



mat-icon{
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
.linea-icon{
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}










.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
