<mat-tab-group animationDuration="400ms">
  <mat-tab label="For Sale">
    <div class="card mt-2">
      <div class="card-body">
        <dx-data-grid #grid
                          class="CustomDataTable dataGrid"
                          [(dataSource)]="saleUnitsList"
                          [showRowLines]="true"
                          [showColumnLines]="false"
                          [showBorders]="true"
                          [rowAlternationEnabled]="false"
                          [allowColumnReordering]="false"
                          [allowColumnResizing]="false"
                          [columnAutoWidth]="false"
                          [selectedRowKeys]="selectedUnits"
                          (onCellClick)="editRecord($event)" >
              <dxo-selection mode="single"></dxo-selection>

              <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
              <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
              <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
              <dxo-header-filter [visible]="true"></dxo-header-filter>

              <!--XLS Exporter-->
              <dxo-export [enabled]="true" fileName="Units" [allowExportSelectedData]="false"></dxo-export>
              <!--          <dxo-filter-row [visible]="true"></dxo-filter-row>-->
              <!--Column show / hide chooser-->
              <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <!--          <dxo-group-panel [visible]="true"></dxo-group-panel>-->
              <!--fixed Column-->
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_code" caption="ID"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="compound.name" caption="Compound"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"
                          cellTemplate="compound_idTemplate"></dxi-column>
              <div *dxTemplate="let data of 'compound_idTemplate'">
                {{data.data.compound.name}}
              </div>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_type" caption="Unit type"
                          cellTemplate="unitTypeTemplate"
                          alignment="center"
                          [allowSearch]="false"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'">
                <dxo-header-filter [allowSearch]="false"></dxo-header-filter>
              </dxi-column>
              <div *dxTemplate="let data of 'unitTypeTemplate'">
                <mat-icon *ngIf="data.value === 'Apartment'" class="dataTableIcon" svgIcon="icon-apartment"></mat-icon>
                <mat-icon *ngIf="data.value === 'Standalone'" class="dataTableIcon" svgIcon="icon-chalet"></mat-icon>
                <mat-icon *ngIf="data.value === 'Townhouse'" class="dataTableIcon" svgIcon="icon-townhouse"></mat-icon>
                <mat-icon *ngIf="data.value === 'Twin villa'" class="dataTableIcon" svgIcon="icon-twin-villa"></mat-icon>
              </div>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_num" caption="Unit #"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="building_area" caption="BUA"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="garden_area" caption="Garden"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="land_area" caption="Land"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="final_downpayment" caption="Final Downpayment"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="final_price" caption="Final price"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'100%'"></dxi-column>
<!--              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_view" caption="Unit view" cellTemplate="unitViewTemplate"-->
<!--                          [allowFiltering]="true" [allowEditing]="false" [allowSearch]="false" [visible]="true" [width]="'auto'" alignment="center"></dxi-column>-->
<!--              <div *dxTemplate="let data of 'unitViewTemplate'">-->
<!--                <mat-icon *ngIf="data.value === 'Good View'" >thumb_up</mat-icon>-->
<!--                <mat-icon *ngIf="data.value === 'No View'" >thumb_down</mat-icon>-->
<!--              </div>-->
              <dxi-column cssClass="grid-cell" dataType="string" dataField="market_price" caption="Market Price"
                          cellTemplate="marketPriceTemplate"
                          [allowSearch]="false"
                          [allowFiltering]="true" [visible]="true" [width]="'100%'"></dxi-column>
              <div *dxTemplate="let data of 'marketPriceTemplate'">
                <span *ngIf="data.value === 'Below Market Price'" style="width: 100%;font-size: 12px;" class="badge badge-success">Below </span>
                <span *ngIf="data.value === 'Above Market Price'" style="width: 100%;font-size: 12px;"  class="badge badge-danger">Above </span>
                <span *ngIf="data.value === 'At Market Price'" style="width: 100%;font-size: 12px;"  class="badge badge-primary">At</span>
              </div>

              <dxi-column caption="Contact Information">
                <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_name" [width]="'100%'"
                            caption="Owner Name" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
                  <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
                </dxi-column>
                <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_phone" [width]="'100%'"
                            caption="Owner Phone" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
                  <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
                </dxi-column>
                <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
              </dxi-column>

              <dxi-column cssClass="grid-cell" dataType="string" dataField="id" caption="Action"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
                          [allowSearch]="false"
                          cellTemplate="changeStatusTemplate"></dxi-column>
              <div *dxTemplate="let data of 'changeStatusTemplate'">
                <button type="button" class="w-100"  (click)="openChangeStatusModal(data.data)" mat-flat-button color="accent">
<!--                  {{data.data.unit_status}}-->
                  <ng-container *ngIf="data.data.unit_status === '1'">
                    For Sale
                  </ng-container>
                  <ng-container *ngIf="data.data.unit_status === '2'">
                    Sold Unknown
                  </ng-container>
                  <ng-container *ngIf="data.data.unit_status === '3'">
                    Not for Sale Now
                  </ng-container>
                  <ng-container *ngIf="data.data.unit_status === '4'">
                    Won
                  </ng-container>
                </button>
              </div>




              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="offering_type" caption="Offering type"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_price" caption="Owner price"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="over_price" caption="Over price"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="commission_percentage" caption="Commission (%)"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="commission_value" caption="Commission value"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="original_downpayment" caption="Original downpayment"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->

              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_desc" caption="Describtion"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->


              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_name" caption="Owner name"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_phone" caption="Owner phone"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_email" caption="Owner email"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_notes" caption="Owner facebook"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->

              <!--          <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"-->
              <!--                      caption="Created at" [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'">-->
              <!--          </dxi-column>-->

              <!-- <dxi-column cssClass="grid-cell" dataType="string" dataField="reassigned_by" caption="Reassigned by"
              [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
              cellTemplate="reassigned_byTemplate"></dxi-column>
            <dxi-column cssClass="grid-cell" dataType="string" dataField="reassigned_to" caption="Reassigned to"
              [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
              cellTemplate="reassigned_toTemplate"></dxi-column> -->

              <dxo-summary>
                <dxi-total-item column="unit_code" summaryType="count">
                </dxi-total-item>
              </dxo-summary>
            </dx-data-grid>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="For Rent">
    <div class="card mt-2">
      <div class="card-body">
        <dx-data-grid #grid
                          class="CustomDataTable dataGrid"
                          [(dataSource)]="rentUnitsList"
                          [showRowLines]="true"
                          [showColumnLines]="false"
                          [showBorders]="true"
                          [rowAlternationEnabled]="false"
                          [allowColumnReordering]="false"
                          [allowColumnResizing]="false"
                          [columnAutoWidth]="false"
                          [selectedRowKeys]="selectedUnits"
                          (onCellClick)="editRecord($event)" >
              <dxo-selection mode="single"></dxo-selection>

              <dxo-scrolling mode="virtual" preloadEnabled="true"></dxo-scrolling>
              <dxo-remote-operations [filtering]="true" [paging]="true" [sorting]="true"></dxo-remote-operations>
              <dxo-search-panel [visible]="true" placeholder="Keyword to search..."></dxo-search-panel>
              <dxo-header-filter [visible]="true"></dxo-header-filter>

              <!--XLS Exporter-->
              <dxo-export [enabled]="true" fileName="Units" [allowExportSelectedData]="false"></dxo-export>
              <!--          <dxo-filter-row [visible]="true"></dxo-filter-row>-->
              <!--Column show / hide chooser-->
              <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <!--          <dxo-group-panel [visible]="true"></dxo-group-panel>-->
              <!--fixed Column-->
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_code" caption="ID"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="compound.name" caption="Compound"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
                          cellTemplate="compound_idTemplate"></dxi-column>
              <div *dxTemplate="let data of 'compound_idTemplate'">
                {{data.data.compound.name}}
              </div>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_type" caption="Unit type"
                          cellTemplate="unitTypeTemplate"
                          alignment="center"
                          [allowSearch]="false"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
                <dxo-header-filter [allowSearch]="false"></dxo-header-filter>
              </dxi-column>
              <div *dxTemplate="let data of 'unitTypeTemplate'">
                <mat-icon *ngIf="data.value === 'Apartment'" class="dataTableIcon" svgIcon="icon-apartment"></mat-icon>
                <mat-icon *ngIf="data.value === 'Standalone'" class="dataTableIcon" svgIcon="icon-chalet"></mat-icon>
                <mat-icon *ngIf="data.value === 'Townhouse'" class="dataTableIcon" svgIcon="icon-townhouse"></mat-icon>
                <mat-icon *ngIf="data.value === 'Twin villa'" class="dataTableIcon" svgIcon="icon-twin-villa"></mat-icon>
              </div>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_num" caption="Unit #"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="building_area" caption="BUA"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="garden_area" caption="Garden"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="land_area" caption="Land"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="final_price" caption="Final price"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>
              <dxi-column cssClass="grid-cell" dataType="string" dataField="market_price" caption="Market Price"
                          cellTemplate="marketPriceTemplate"
                          [allowSearch]="false"
                          [allowFiltering]="true" [visible]="true" [width]="'auto'"></dxi-column>
              <div *dxTemplate="let data of 'marketPriceTemplate'">
                <span *ngIf="data.value === 'Below Market Price'" class="badge badge-success">Below </span>
                <span *ngIf="data.value === 'Above Market Price'" class="badge badge-danger">Above </span>
                <span *ngIf="data.value === 'At Market Price'" class="badge badge-primary">At</span>
              </div>

              <dxi-column caption="Contact Information">
                <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_name" [width]="'auto'"
                            caption="Owner Name" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
                  <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
                </dxi-column>
                <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_phone" [width]="'auto'"
                            caption="Owner Phone" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'">
                  <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
                </dxi-column>
                <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
              </dxi-column>


              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="market_price" caption="Market Price" [width]="'100%'"-->
              <!--                      caption="Contact Information" [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"-->
              <!--                      cellTemplate="ContactInformation">-->
              <!--            <dxo-header-filter [allowSearch]="true"></dxo-header-filter>-->
              <!--          </dxi-column>-->
              <!--          <div *dxTemplate="let data of 'ContactInformation'">-->
              <!--            Owner Name: {{data.data.owner_name}}-->
              <!--            <br>-->
              <!--            Owner Phone: {{data.data.owner_phone}}-->
              <!--            <br>-->
              <!--            Added By: {{data.data.created_by.first_name}} {{data.data.created_by.second_name}}-->
              <!--          </div>-->

              <dxi-column cssClass="grid-cell" dataType="string" dataField="id" caption="Action"
                          [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
                          [allowSearch]="false"
                          cellTemplate="changeStatusTemplate"></dxi-column>
              <div *dxTemplate="let data of 'changeStatusTemplate'">
                <!--            {{data.data.unit_status}}-->
                <!--            <br>-->
                <button type="button" class="w-100" (click)="openChangeStatusModal(data.data)" mat-flat-button color="accent">
                  {{data.data.unit_status}}
                  <!--              <ng-container *ngIf="data.data.unit_stataus"></ng-container>-->
                </button>
              </div>




              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="offering_type" caption="Offering type"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_price" caption="Owner price"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="over_price" caption="Over price"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="commission_percentage" caption="Commission (%)"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="commission_value" caption="Commission value"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="original_downpayment" caption="Original downpayment"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->

              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="unit_desc" caption="Describtion"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->


              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_name" caption="Owner name"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_phone" caption="Owner phone"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_email" caption="Owner email"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->
              <!--          <dxi-column cssClass="grid-cell" dataType="string" dataField="owner_notes" caption="Owner facebook"-->
              <!--                      [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'"></dxi-column>-->

              <!--          <dxi-column cssClass="grid-cell" [customizeText]="getDateFormated" dataType="Date" dataField="created_at"-->
              <!--                      caption="Created at" [allowFiltering]="true" [allowEditing]="false" [visible]="false" [width]="'auto'">-->
              <!--          </dxi-column>-->

              <!-- <dxi-column cssClass="grid-cell" dataType="string" dataField="reassigned_by" caption="Reassigned by"
              [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
              cellTemplate="reassigned_byTemplate"></dxi-column>
            <dxi-column cssClass="grid-cell" dataType="string" dataField="reassigned_to" caption="Reassigned to"
              [allowFiltering]="true" [allowEditing]="false" [visible]="true" [width]="'auto'"
              cellTemplate="reassigned_toTemplate"></dxi-column> -->

              <dxo-summary>
                <dxi-total-item column="unit_code" summaryType="count">
                </dxi-total-item>
              </dxo-summary>
            </dx-data-grid>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>




<div class="modal fade" id="editUnitModal" tabindex="-1" role="dialog" aria-labelledby="editUnitModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUnitModalLabel">Edit: {{editUnit.unit_type}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-unit #edit [updateMode]="true" (afterSave)="afterSave($event)"></app-new-unit>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel"
  aria-hidden="true">
  <div class="UnitStatusDialog modal-dialog-centered modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-between align-items-start">
          <div class="col-7">
            <div class="row">
              <h2 class="mat-h2 col-12">Unit status</h2>
              <div class="col-12">
                <dx-validation-group #changeStatusValidator>
                  <div *ngFor="let opt of statusOption">
                    <div class="optionBg" [class.activeOption]="opt.selected">
                      <mat-checkbox
                        [(ngModel)]="opt.selected"
                        (click)="onStatusChanged($event, opt)">
                        <div class="optionName">{{opt.name}}</div>
                        <div class="optionDesc">{{opt.descr}}</div>
                      </mat-checkbox>
<!--                      <dx-check-box [(value)]="opt.selected" [width]="'auto'" [text]="opt.name"-->
<!--                                    (click)="onStatusChanged($event, opt)"></dx-check-box>-->
<!--                      <p>{{opt.descr}}</p>-->
                    <div *ngIf="opt.name == 'Not for sale now / Maybe later' && opt.selected">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Remind Me in:</label>
                            <dx-date-box [class.required]="true" width="auto" [displayFormat]="DateFormat" [min]="maxDate"
                                         [disabled]="!(SelectedUnitToChangeStatus.name == 'Not for sale now / Maybe later')">
                              <dx-validator>
                                <dxi-validation-rule type="required" message="Date is Required"></dxi-validation-rule>
                              </dx-validator>
                            </dx-date-box>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="opt.name == 'Sold with an outside broker'  && opt.selected">
                      <div class="row">
                        <div class="col-sm-4">
                          <label>Broker:</label>
                          <div class="extraFeature" *ngIf="SelectedUnitToChangeStatus.name == 'Sold with an outside broker'"><a
                            class="addNewRecord" (click)="openAddNewModel('broker')"><i class="fas fa-plus"></i> Add new</a></div>
                          <dx-select-box [class.required]="true" [dataSource]="brokersLookup" displayExpr="first_name"
                                         valueExpr="id" [searchEnabled]="true" [disabled]="!(SelectedUnitToChangeStatus.name == 'Sold with an outside broker')">
                            <dx-validator>
                              <dxi-validation-rule type="required" message="Broker is Required"></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
<!--                        <div class="col-sm-4">-->
<!--                          <div class="form-group">-->
<!--                            <mat-form-field class="example-form-field">-->
<!--                              <input matInput type="text" placeholder="Company Name" [(ngModel)]="singleBroker.company_name">-->
<!--                              <button mat-button *ngIf="singleBroker.company_name" matSuffix mat-icon-button aria-label="Clear" (click)="singleBroker.company_name=''">-->
<!--                                <mat-icon>close</mat-icon>-->
<!--                              </button>-->
<!--                            </mat-form-field>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-4">-->
<!--                          <div class="form-group">-->
<!--                            <mat-form-field class="example-form-field">-->
<!--                              <input matInput type="text" placeholder="Company Name" [(ngModel)]="singleBroker.second_name">-->
<!--                              <button mat-button *ngIf="singleBroker.second_name" matSuffix mat-icon-button aria-label="Clear" (click)="singleBroker.second_name=''">-->
<!--                                <mat-icon>close</mat-icon>-->
<!--                              </button>-->
<!--                            </mat-form-field>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-4">-->
<!--                          <div class="form-group">-->
<!--                            <mat-form-field class="example-form-field">-->
<!--                              <input matInput type="text" placeholder="Company Name" [(ngModel)]="singleBroker.gender">-->
<!--                              <button mat-button *ngIf="singleBroker.gender" matSuffix mat-icon-button aria-label="Clear" (click)="singleBroker.gender=''">-->
<!--                                <mat-icon>close</mat-icon>-->
<!--                              </button>-->
<!--                            </mat-form-field>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-4">-->
<!--                          <div class="form-group">-->
<!--                            <mat-form-field class="example-form-field">-->
<!--                              <input matInput type="text" placeholder="Broker name" [(ngModel)]="singleBroker.first_name ">-->
<!--                              <button mat-button *ngIf="singleBroker.first_name" matSuffix mat-icon-button aria-label="Clear" (click)="singleBroker.first_name = ''">-->
<!--                                <mat-icon>close</mat-icon>-->
<!--                              </button>-->
<!--                            </mat-form-field>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-4">-->
<!--                          <div class="form-group">-->
<!--                            <mat-form-field class="example-form-field">-->
<!--                              <input matInput type="number" placeholder="Broker phone number" [(ngModel)]="singleBroker.mobile">-->
<!--                            </mat-form-field>-->
<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
                    </div>
                  </div>
                </dx-validation-group>
              </div>
              <div class="mt-2 col-12 d-flex align-items-center justify-content-start">
                <button type="button" class="w-25 mx-1" data-dismiss="modal" aria-label="Close" mat-stroked-button >Cancel</button>
                <button type="button" class="w-25 mx-1" (click)="submitStatusChange();" mat-flat-button color="primary">Change status</button>
              </div>
            </div>
          </div>
          <div class="col-5 align-self-center">
            <img class="img-responsive" src="assets/images/illustration/unitstatusIllustration.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNewBrokerModal" tabindex="-1" role="dialog" aria-labelledby="addNewBrokerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewBrokerModalLabel">Add new broker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-broker (afterSave)="afterSaveBroker($event)"></app-new-broker>
      </div>
    </div>
  </div>
</div>
